{% extends "base.html" %}
{% block title %}
    编辑回答
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <br>
        <form method="post" action="{% url 'blog:answer_edit' id %}">
            {% csrf_token %}
            <div class="form-group">
                <!-- 标签 -->
                <label for="title">回答标题</label>
                <!-- 文本框 -->
                <input type="text" class="form-control" id="title" name="title" value="{{ answer_form.title.value }}">
            </div>
            <div class="form-group">
                <label for="tags">回答标签</label>
                <select class="form-control col-3" id="tags" name="tags" multiple="multiple" required="required">
                    <option value="none">请选择栏目..</option>
                    {% for tag in tags_list %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="body">回答正文</label>
                <!-- 文本区域 -->
                {{ answer_form.media }}
                {{ answer_form.body }}
            </div>
            <button type="submit" class="btn btn-primary">完成</button>
        </form>
    </div>
</div>
{% endblock %}