<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 编辑文章 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!-- 写文章表单 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表单 -->
            <form method="POST" action="{% url 'blog:edit' article.id %}">
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                <!-- 文章标题 -->
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="title">文章标题</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
                </div>
                <div class="form-group">
                    <label for="category">文章分类</label>
                    <select class="form-control col-3" id="category" name="category" required="required">
                            <option value="none">请选择栏目..</option>
                        {% for category in categoty_list %}
                            <option value="{{ category.id }}" {% if category.id == article.category.id %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="tags">文章标签</label>
                    <select class="form-control col-3" id="tags" name="tags" multiple="multiple" required="required">
                            <option value="none">请选择栏目..</option>
                        {% for tag in tags_list %}
                            <option value="{{ tag.id }}" {% if tag.id == article.tag.id %}selected{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">文章内容</label>
                    {{ article_post_form.media }}
                    {{ article_post_form.body }}
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}