{% extends 'base.html' %}
{% load blog_extra %}
{% load comment_extras %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    {% if request.session.is_login %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">{{ post.title }}</h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#comment-area">{{ post.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a>{{ post.views }} 阅读</a></span>
                    {% if delete_allowance == 'allowed' %}
                        <span class="button"><a href="#" onclick="confirm_safe_delete()">删除文章</a>
                        <form style="display:none;" id="safe_delete" action="{% url 'blog:delete' post.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">发送</button>
                        </form>
                        </span>
                        <span class="button"><a href="{% url 'blog:edit' post.id %}">编辑文章</a></span>
                    {% endif %}
                </div>
            </header>
            <div class="entry-content clearfix">
                {{ post.body|safe }}
            </div>
        </article>
        <section class="comment-area" id="comment-area">
            <h3>发表评论</h3>
            {% show_comment_form post %}
            {% block message %}
            {% endblock %}
            <div class="comment-list-panel">
                {% show_comments post %}
            </div>
        </section>
    {% else %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">{{ post.title }}</h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#comment-area">{{ post.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a>{{ post.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                {{ post.body|safe }}
            </div>
        </article>

        <section class="comment-area" id="comment-area">
            <div class="comment-list-panel">
                {% show_comments post %}
            </div>
        </section>
    {% endif %}
    <script>
    function confirm_safe_delete() {
        layer.open({
            title: "确认删除",
            content: "确认删除这篇文章吗？",
            yes: function(index, layero) {
                $('form#safe_delete button').click();
                layer.close(index);
            }
        })
    }
</script>
{% endblock %}
{% block sidemenu %}
    <div class="col-3 mt-4" id="sidebar" class="sidebar">
        <div class="sidebar__inner">
            <div class="aside">
            {% block toc %}
                {% if post.toc %}
                    <div class="widget widget-content">
                        <h3 class="widget-title">文章目录</h3>{{ post.toc|safe }}
                    </div>
                {% endif %}
            {% endblock %}
            {% show_authors post.author %}
            <div class="rss">
                <a href="/blog/money"><span class="ion-social-rss-outline"></span>大哥大嫂过年好!</a>
            </div>
            </div>
        </div>
    </div>
    <style>
    .sidebar{
        will-change: min-height;
    }
    .sidebar__inner{
        transform: translate(0, 0); /* For browsers don't support translate3d. */
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
    </style>
{% endblock %}
{% block script %}
<!-- 引入粘性侧边栏 -->
<script src="{% static 'sticky_side_bar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 20,
        bottomSpacing: 20,
    });
</script>
{% endblock script %}